HELPDESK_API_URL=https://hooks.anler.tech/webhook/159e348a-173b-4c56-91ab-74dd89b4eef3
HELPDESK_API_KEY=
HELPDESK_API_SECRET=

SERVICE_CATALOG_URL=https://pastebin.com/raw/aYcaLzki

# LLM
LLM_MODEL_NAME=gemini-2.5-flash
LLM_API_KEY=
LLM_BATCH_SIZE=30
LLM_DELAY_BETWEEN_BATCHES=3
LLM_TEMPERATURE=0.0
LLM_TOP_P=1.0
LLM_TOP_K=1

# email
EMAIL_SMTP_HOST=
EMAIL_SMTP_PORT=
EMAIL_USE_TLS=
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_SENDER=
EMAIL_RECIPIENT=
CANDIDATE_NAME=
CODEBASE_URL=

# db
REPORT_LOG_DB_PATH=output/reports.db