name: ci

on:
  push:
    branches: ["main", "dev"]
  pull_request:

jobs:
  checks:
    runs-on: ubuntu-latest
    env:
      PYTHONHASHSEED: "0"

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python + deps
        uses: ./.github/actions/setup-python-deps
        with:
          python-version: "3.10"

      - name: CI
        run: make ci

      - name: Upload test reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-reports
          path: reports/